/* ЦЕЙ ДИЗАЙН ТІЛЬКИ ДЛЯ ТОГО ЩО БУДЕ В КОЖНІЙ СТОРІНЦІ ОДНАКОВЕ!!! */
/* Тобто це не дизайн однієї сторінки а УСІХ сторінок */
/* Тут може бути дизайн меню, футера (контактна інформація), і те що є
на кожній сторінці ОДИНАКОВЕ!!!! */


/* MENU */
/* MENU */
/* MENU */
/* MENU */
/* MENU */
*{
    margin:0;
    padding :0;
}
.soundCloud-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0c0c0c;
    padding: 0 20px;
}

.main-navigation {
    display: flex;
    align-items: center;
    gap: 30px;
    white-space: nowrap;
}

.main-navigation ul {
    display: flex;
    gap: 20px;
    list-style: none;
    white-space: nowrap;

}
.btn-container {
    display: flex;            
    align-items: center;  
    justify-content: center;    
    gap: 40px;               
    width: 100%;
}

.logo img {
    height: 65px;       
    width: auto;        
    display: block;     /* remove extra space under image */
}

li.y   a {
    color: #f50;
    text-decoration: none;
    /* for try artist pro */
}

.menu-butt{
    color: rgb(63, 63, 63);
    text-decoration: none;    /*for every buton*/
}
.menu-butt:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;    /*for every buton*/
}
.input {
width: 100%;
max-width: 220px;
height: 15px;
padding: 12px;
border-radius: 12px;
border: 1.5px solid lightgrey;
outline: none;
transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
box-shadow: 0px 0px 20px -18px;
}

.input:hover {
border: 2px solid lightgrey;
box-shadow: 0px 0px 20px -17px;
}

.input:active {
transform: scale(0.95);
}

.input:focus {
border: 2px solid grey;
}