/* ЦЕЙ ДИЗАЙН ТІЛЬКИ ДЛЯ ТОГО ЩО БУДЕ В КОЖНІЙ СТОРІНЦІ ОДНАКОВЕ!!! */
/* Тобто це не дизайн однієї сторінки а УСІХ сторінок */
/* Тут може бути дизайн меню, футера (контактна інформація), і те що є
на кожній сторінці ОДИНАКОВЕ!!!! */


/* MENU */
/* MENU */
/* MENU */
/* MENU */
/* MENU */
*{
    margin:0;
    padding :0;
}

header{
    background: #0c0c0c;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
}

.logo {
    width: 100px;
    height: 100px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.menu-buttons,
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}





.input {
    width: 100%;
    max-width: 220px;
    height: 15px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.input:active {
    transform: scale(0.95);
}

.input:focus {
    border: 2px solid grey;
}